In [11]:
import boto3
import pandas as pd
import os
from io import StringIO
from pyathena import connect

bucket = os.getenv('BUCKET')
file_s3 = 'testes/videos-stats.csv'

In [12]:
data = pd.read_csv('/home/pedrogarcia/Projetos/arquivos/videos-stats.csv')
s3_client = boto3.client('s3')

In [13]:
data.head()

,Unnamed: 0,Title,Video ID,Published At,Keyword,Likes,Comments,Views
0,0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0

In [14]:
data.drop(columns = ['Unnamed: 0'], inplace = True)

**PUTTING DATAFRAME INTO MEMORY, AND UPLOADING IT TO BUCKET**

In [15]:
buffer = StringIO()
data.dropna(inplace = True)
data.to_csv(buffer, index = False)
body = buffer.getvalue()

try:
    s3_client.put_object(Bucket = bucket, Key = file_s3, Body = body)
    print('File sent to bucket: ', bucket)
except Exception as erro:
    print('Insertion failed: ', erro)

File sent to bucket:  pedrogarcias3dev

**CONNECTING TO THE ATHENA DATABASE TO CHECK THE UPLOAD, AFTER RUNNING CRAWLER**

In [24]:
connection = connect(s3_staging_dir = f"s3://{bucket}/testes", region_name = "us-east-1")

In [ ]:
query = "select * from glue_database.testes"
data = pd.read_sql_query(query, connection)